<% provide(:title, 'Contact') %>
<h1>Contact US</h1>
<p>
<li><h2><a href="https://www.facebook.com/pooja.gupta.kop">Pooja Gupta</a></h2></li>
<li><h2><a href="https://www.facebook.com/pooja.gupta.kop">Yogesh Wable</a></h2></li>
<li><h2><a href="https://www.facebook.com/pooja.gupta.kop">Harshwardhan awati</a></h2></li>
<li><h2><a href="https://www.linkedin.com/pub/rujuta-chikurde/a3/478/238?trk=pub-pbmap">Rujuta Chikurde</a></h2></li>
</p>

       