<footer class="footer">
  <small>
    Learn more about<a href="http://www.railstutorial.org/"> Ruby on Rails</a>
  
  </small>
  <nav>
    <ul>
      
       <li><a href="http://www.walchandsangli.ac.in/">About WCE</a></li>
      <li><%= link_to "Contact us", contact_path %></li>
      <li><a href="http://www.goodreads.com/shelf/show/100-books-to-read-before-you-die">Must Read</a></li>
    </ul>
  </nav>


</footer>